/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.filter-contrast {
  filter: contrast(150%);
}

.filter-brightness {
  filter: brightness(130%);
}

.filter-saterate {
  filter: saturate(160%);
}

.filter-blur {
  filter: blur(3px);
}

.filter-double {
  filter: brightness(70%) contrast(120%);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-saterate_seconde {
  filter: saturate(200%);
}


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-attachment: fixed;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--regular-weight), "wdth" 100 'opsz' 0;
}

.header_section {
  margin: 0 auto;
  width: var(--header-section-width);
  border: solid 2px var(--border-color);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: clamp(7.5rem, 1.8943rem + 4.9844vw, 8rem);
  margin: 100px auto;
  font-family: var(--accent-font), fantasy;
  gap: 20px;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.header_title {
  font-size: clamp(0.875rem, 0.226rem + 2.769vw, 1.438rem);
}

.header_title_accent {
  font-size: clamp(3.063rem, 1.909rem + 4.923vw, 4.063rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}


.card_section {
  max-inline-size: var(--card-section-width);
  border: solid 2px var(--border-color) ;
}

.card {
  background-color: var(--background-color);
}

.card_header {
  font-size: 18px;
  font-variation-settings: "wght" var(--bold-weight);
  padding: 5px 10px;
}

.card_image {
  display: block;
  overflow: hidden;
  position: relative;
  max-inline-size: 696px;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--background-color);
}

.decoration {
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  mix-blend-mode: hard-light;
  top: 27px;
  right: 25px;
  opacity: 0.5;
  text-shadow: 
  1px 0  var(--stroke-color),
  0 1px  var(--stroke-color),
  -1px 0  var(--stroke-color),
  0 -1px  var(--stroke-color);      
}

@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .decoration {
  -webkit-text-stroke: 1px var(--stroke-color);
  text-stroke: 1px var(--stroke-color);
  text-shadow: none;
  }
}

.card_description_section {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.card_text {
  font-size: 18px;
  line-height: 0,21;
}

.button {
  position: relative;
  background-color: transparent;
  border: solid 2px var(--border-color);
  cursor: pointer;
  transition: 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--shadow-color);
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--shadow-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover::after {
  transform: scaleX(1);
}

.button_panel {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.card__icon-button {
  display: flex;
  padding: 0;
  border: 2px solid transparent;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--border-color);
}

.card__like-button {
  position: relative;
  inline-size: 130px;
  justify-content: center;
  padding: 10px;
  line-height: 0.9;
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--mix-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
}

.save {
  display: block;
}

.save_button {
  display: flex;
  align-items: center;
  margin: 50px auto;
  padding: 15px 20px;
  gap: 8px;
  background-color: var(--background-color);
  line-height: 0.9;
}

.floppy {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  fill: var(--mix-color);
  inline-size: auto;
}

.floppy_dialog {
  width: 39px;
  height: 39px;
}

.dialog {
  position: fixed;
  width: clamp(21.313rem, 20.9609rem + 1.5023vw, 22.313rem);
  padding: 30px;
  background-color: var(--background-color);
  border: solid 2px var(--border-color);
}

.dialog[open] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.dialog::backdrop {
  background-color: #0008;
}

.dialog_button {
  width: 100%;
  font-family: var(--accent-font);
  justify-content: center;
  padding: 9px 17px;
  gap: 20px;
}

.ok_button {
  text-transform: uppercase;
}

.dialog_text {
  max-inline-size: 234px;
  margin-block-end: 10px;
  line-height: 20px;
  padding-inline-start: 11px;
  font-family: var(--accent-font);
  font-size: 14px;
  flex: 1;
  text-transform: uppercase;
}

@media (width <= 375px) {

  .header {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .save_button {
    flex-direction: column;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }
}
